<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Njala University Research Repository</h1>
          <p class="lead">Njala University (or simply Njala, as it is fondly called) has had a rich history since its establishment in 1964 as a university college. Njala University operates under the Universities Act of 2021. The University Statutes, Ordinances and Regulations are drawn from this enabling legislation
The highest University authority and its governing body is the University Court. Senate is the highest academic body in the University. The Chancellor of the University serves as Chairman of Court.
The executive and day-to-day management of the university is the responsibility of the University Secretariat headed by the Vice-Chancellor and Principal and which includes the Registrar, the Finance Director, the Director of Physical and Plant Services, the Director of Planning, the Director of Information & Communication, the Director of Research and Development, the Procurement Officer and the Internal Auditor.
Join an international community of leading Universities.</p>
          </div>
      </div>
       <p>Njala University comprises 12 academic units called Schools/Faculties:</p>
      <ul>
        <li><a href="/handle/20.500.144402/96">School of Agriculture & Food Sciences</a></li>
        <li><a href="/handle/20.500.144402/98">School of Basic Sciences</a></li>
        <li><a href="/handle/20.500.144402/100">School of Environmental Sciences</a></li>
        <li><a href="/handle/20.500.144402/103">School of Natural Resources Management</a></li>
        <li><a href="/handle/20.500.144402/109">School of Technology</a></li>
        <li><a href="/handle/20.500.144402/99">School of Education</a></li>
        <li><a href="/handle/20.500.144402/97">School of Basic Education </a></li>
        <li><a href="/handle/20.500.144402/106">School of Social Sciences & Law</a></li>
        <li><a href="/handle/20.500.144402/105">School of Public Health</a></li>
        <li><a href="/handle/20.500.144402/104">School of Nursing </a></li>
        <li><a href="/handle/20.500.144402/102">School of Medical Sciences </a></li>
        <li><a href="/handle/20.500.144402/108">School of Postgraduate Studies</a></li>
      </ul>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/jpg" srcset="assets/dspace/images/njala-university-research-repository-banner-13.jpeg 2000w, assets/dspace/images/njala-university-research-repository-banner-13.jpeg 1200w, assets/dspace/images/njala-university-research-repository-banner-tall-13.jpeg 768w">
    <source type="image/webp" srcset="assets/dspace/images/njala-university-research-repository-banner-13.webp 2000w, assets/dspace/images/njala-university-research-repository-banner-13.webp 1200w, assets/dspace/images/njala-university-research-repository-banner-tall-13.webp 768w">
    <img alt="Njala University" [src]="'assets/dspace/images/njala-university-research-repository-banner-13.jpeg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">Illustration by <a href="https://tpgroupsl.com/companies/technology/">TpISENT Graphic</a></small>
</div>
 
