<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-4">Njala University Research Repository</h1>
          <p class="lead">Njala University, a rural comprehensive public research university in Sierra Leone, is committed to providing the highest standards of excellence in higher education in Sierra Leone and beyond, fostering intellectual and personal development, and stimulating meaningful research and service to humankind. The University operates on two campuses, the Njala campus, the main campus, and the Bo campus located in Bo, and offers sub-degree, degree and postgraduate programmes in the following areas</p>
          </div>
      </div>
      <ul>
        <li><strong><a href="/handle/20.500.144402/96">School of Agriculture & Food Sciences</a></strong></li>
        <li><strong><a href="/handle/20.500.144402/98">School of Basic Sciences</a></strong></li>
        <li><strong><a href="/handle/20.500.144402/100">School of Environmental Sciences</a></strong></li>
        <li><strong><a href="/handle/20.500.144402/103">School of Natural Resources Management</a></strong></li>
        <li><strong><a href="/handle/20.500.144402/109">School of Technology</a></strong></li>
        <li><strong><a href="/handle/20.500.144402/99">School of Education</a></strong></li>
        <li><strong><a href="/handle/20.500.144402/97">School of Basic Education </a></strong></li>
        <li><strong><a href="/handle/20.500.144402/106">School of Social Sciences & Law</a></strong></li>
        <li><strong><a href="/handle/20.500.144402/105">School of Public Health</a></strong></li>
        <li><strong><a href="/handle/20.500.144402/104">School of Nursing </a></strong></li>
        <li><strong><a href="/handle/20.500.144402/102">School of Medical Sciences </a></strong></li>
        <li><strong><a href="/handle/20.500.144402/108">School of Postgraduate Studies</a></strong></li>
      </ul>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/jpg" srcset="assets/dspace/images/njala-university-research-repository-banner-heading-18.jpg 2000w, assets/dspace/images/njala-university-research-repository-banner-heading-18.jpg 1200w, assets/dspace/images/njala-university-research-repository-banner-heading-18.jpg 768w">
    <source type="image/webp" srcset="assets/dspace/images/njala-university-research-repository-banner-heading-18.webp 2000w, assets/dspace/images/njala-university-research-repository-banner-heading-18.webp 1200w, assets/dspace/images/njala-university-research-repository-banner-heading-18.webp 768w">
    <img alt="Njala University" [src]="'assets/dspace/images/njala-university-research-repository-banner-heading-18.jpg"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">Illustration by <a href="https://tpgroupsl.com/companies/technology/">TpISENT Graphic</a></small>
</div>
 
